body {
  min-width: 400px;
  background-color: #ffc84d;
  font-family: sans-serif;
}

h1 {
  font-style: bold;
  font-size: 1.3em;
  color: #000000;
  margin: 20px 0 0 0;
}

.data {
  margin: 5px 0px;
  font-size: 0.7em;
}

.small {
  font-size: 0.8em;
}

.hidden {
  display: none;
}

.shown {
  display: block;
}
